# ---- Deep Learning & Machine Learning ----
tensorflow
scikit-learn

# ---- Core & Data Science ----
pandas
numpy

# ---- MLOps & Experiment Tracking ----
mlflow
joblib

# ---- API & Backend ----
fastapi
uvicorn
pydantic
PyJWT
slowapi
SQLAlchemy

# ---- Frontend & Dashboards ----
streamlit
requests
plotly
matplotlib
seaborn